<img src='https://pandas.pydata.org/docs/_static/pandas.svg' width=500>

https://pandas.pydata.org/

Pandas data-manipulation capabilities are built on top of NumPy, utilizing its fast array processing, and its graphing capabilities are built on top of Matplotlib.

* "pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language."

* It may be one of the most widely used tools for data munging

  * present data in nice formats
  * multiple convenient methods for filtering data
  * work with a variety of data formats (CSV, Excel, â€¦)
  * convenient functions for quickly plotting data

* The name comes from panel data (and is also a play on python data analysis)

Import some libraries:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Preview of timing differences

In [ ]:
pd.DataFrame({'a': range(5)})

In [ ]:
a_df = pd.DataFrame({'a': range(5)})
a_df['a']

In [ ]:
a_df['b'] = a_df['a'] + 1

In [ ]:
a_df

In [ ]:
# Note that you can use "_" in Python numbers for 
# enhanced readability - Python will ignore them

testnum = 1_000_000

In [ ]:
# Python loop using .iat to set values
def method_loop(n=n):
    df = pd.DataFrame({'a': np.arange(n)})
    for i in range(n):
        df.iat[i, 0] = df.iat[i, 0] + 1
    return df

In [ ]:
%%time

method_loop(testnum);

In [ ]:
# List comprehension (build a Python list then assign back)
def method_listcomp(n=n):
    df = pd.DataFrame({'a': np.arange(n)})
    new_col = [x + 1 for x in df['a']]
    df['a_plus1'] = new_col
    return df

In [ ]:
%%time

method_listcomp(testnum);

In [ ]:
# Apply a function in a compiled pandas loop internally
def method_map(n=n):
    df = pd.DataFrame({'a': np.arange(n)})
    df['a_plus1'] = df['a'].map(lambda x: x + 1)
    return df

In [ ]:
%%time

method_map(testnum);

In [ ]:
# Vectorized pandas/NumPy operation
def method_vectorized(n=n):
    df = pd.DataFrame({'a': np.arange(n)})
    df['a_plus1'] = df['a'] + 1  # vectorized
    return df

In [ ]:
%%time

method_vectorized(testnum);

The vectorized (Pandas/NumPy) approach will be orders of magnitude faster on large datasets
* The operation is executed in compiled C code and uses contiguous memory operations
* Python-level loops (method 1) are the slowest because each iteration involves Python bytecode and DataFrame cell access overhead
* List comprehensions are faster than cell-by-cell loops (they avoid repeated DataFrame cell writes) but still slower than vectorized operations

## Let's back up and look at data

Import the data:

In [ ]:
dinodata = pd.read_csv('https://raw.githubusercontent.com/benjum/numerical-python-part2/main/DatasaurusDozen.csv')

Look at some data values:

In [ ]:
dinodata

Making a scatter plot of the data in the `x` and `y` columns is easy:

In [ ]:
dinodata.plot.scatter(x = 'x', y = 'y')

# What are we looking at?

The above command looks easy, but there's more to the data than this.

First let's cover a couple things about Pandas.

## Basic data structures in Pandas

Python can store values in a variety of data structures: single variables, lists, dictionaries, sets, etc.  

Pandas has two key data structures for storing Python variables:

1. Series
    * 1D
    * Like an array
    * Items are labeled by an index
2. Dataframes
    * 2D
    * Like a spreadsheet
    * Items are labeled by an index (row label) and column name

`dinodata` is a dataframe:

In [ ]:
dinodata

* `head(n)`: show us the first `n` rows (5 by default)
* `tail(n)`: show us the last `n` rows (5 by default)
* `info()` : a range of summary info

In [ ]:
dinodata.head()

In [ ]:
dinodata.tail()

In [ ]:
dinodata.info()

There are several other useful dataframe attributes and methods that will allow you to get summary info:
* `columns` : column names
* `dtypes` : data types of the columns (dataframes can hold different datatypes in different columns)
* `index` : information about the row indices (they don't have to be numerical)
* `shape` : the size of the dataframe in each dimension
* `describe()` : basic statistics about the data columns

In [ ]:
dinodata.columns

In [ ]:
dinodata.dtypes

In [ ]:
dinodata.index

In [ ]:
dinodata.shape

In [ ]:
dinodata.shape[0]

In [ ]:
dinodata.describe()

In [ ]:
dinodata.describe(include = 'all')

If you select one of the columns of `dinodata` you'll get a Series in return:

In [ ]:
dinodata['dataset']

## Selecting data from a dataframe

If you have a dataframe `df` and want to look at a specific column `columnname`, use `df['columnname']`

In [ ]:
dinodata['x']

Dataframe can have both numerical- and label-based indices.  There is specific data retrieval syntax that accommodates this.

In [ ]:
# This will give an error!
dinodata[0]

In [ ]:
# This will not give an error
dinodata[0:1]

It's best to stick with `loc` and `iloc` for the moment to index dataframes.
* `loc` : label-based indexing (which can look numerical if the row index is a number)
* `iloc` : numerical indexing

In [ ]:
dinodata

In [ ]:
# the first row;
# return value is a Series

dinodata.loc[0]

In [ ]:
# the first row;
# return value is a Dataframe (note the index is [0])

dinodata.loc[[0]]

In [ ]:
# the first two rows;
# return value is a Dataframe (the index is a list [0,1])

dinodata.loc[[0,1]]

In [ ]:
# indexing both the row and column

dinodata.loc[0,'x']

In [ ]:
# indexing both the row and column
# and returning a dataframe

dinodata.loc[[0],['x']]

In [ ]:
# you can use lists for the indices

dinodata.loc[[0],['x','y']]

In [ ]:
dinodata.loc[[0,10],['x','y']]

`iloc` is useful when you instead want to index numerically.

In [ ]:
dinodata.iloc[0]

Before you execute the below, try to predict whether it will return a Series or a Dataframe.

In [ ]:
dinodata.iloc[1]

In [ ]:
dinodata.iloc[[1]]

In [ ]:
dinodata.iloc[0:1]

In [ ]:
dinodata.iloc[0:4]

In [ ]:
# this will give an error! you can't use a label-based index like 'x' with iloc

dinodata.iloc[0:4,'x']

In [ ]:
# instead of referncing the column with 'x'
# iloc indexes it numerically

dinodata.iloc[0:4, 1]

In [ ]:
dinodata.iloc[[0,1,2,3],[1]]

In [ ]:
dinodata.iloc[0,0]

In [ ]:
dinodata.loc[0,'dataset']

## What's the data for 'dataset' == 'dino'?  Boolean indexing

It is useful to be able to get elements where certain conditions are true.

Like here, we may want to get only those rows that are part of the 'dino' dataset.

This can be accomplished with boolean indexing, where the index is a True/False condition, and there is one such value for every row.

The following sets up the boolean series of True/False values for every row.

In [ ]:
dinodata['dataset'] == 'dino'

We can use that as the index to dinodata, i.e., for any dataframe `df` we can use `df[condition]` to get only those rows where `condition` is True

In [ ]:
dinodata[dinodata['dataset'] == 'dino']

In [ ]:
# Check:  What is the condition in the above command?
# Write it here and execute:

Boolean indexing also works as the index when using `loc`

In [ ]:
dinodata.loc[dinodata['dataset'] == 'dino']

In [ ]:
dinodata.loc[dinodata['dataset'] == 'circle']

Note above what happens to the indices.  You should keep in mind this behavior if you want to index the returned result.

In [ ]:
dinodata.loc[dinodata['dataset'] == 'dino','x']

In [ ]:
dinodata['dataset'].str.startswith('d')

In [ ]:
dinodata.loc[dinodata['dataset'].str.startswith('d')]

In [ ]:
dinodata.loc[dinodata['dataset'].str.contains('in')]

Dataframes have many very useful methods.

... which we will ignore for the moment until next week when we get to exploratory data analysis.

For now:  plotting!

## Plotting

Let's make a scatter plot with only the `dino` dataset

In [ ]:
# How do we get that subset of data?

a = dinodata[dinodata['dataset'] == 'dino']

Make a plot:

In [ ]:
a.plot(x='x', y='y')

What's with the zig-zags?

By default, pandas will make a line plot connecting the points, and since the points are plotted out of numerical order, the connecting lines zigs back and forth in the x and y direction.

We actually want to plot this as a scatter plot instead of a line plot.

In [ ]:
a.plot(x='x', y='y', kind='scatter')

The `kind` parameter makes it very easy to make a variety of different elementary plots:

* `line` : line plot
* `bar` : vertical bar plot
* `barh` : horizontal bar plot
* `hist` : histogram
* `box` : boxplot
* `kde` : kernel density estimation plot
* `density` : same as kde
* `area` : area plot
* `pie` : pie plot
* `scatter` : scatter plot
* `hexbin` : hexbin plot

In [ ]:
a.iloc[0:20].plot(x='x', y='y', kind='bar')

This, of course, doesn't mean that you don't have to think about what you want to plot before-hand.

To make things easier, let's look at a subset of data:

In [ ]:
b = a[0:15]

In [ ]:
b

In [ ]:
b.plot(x='x', y='y', kind='bar')

Note that pandas does not necessarily try to order the x-axis here for us.

In [ ]:
b.sort_values(by='x')

In [ ]:
b.sort_values(by='x').plot()

In [ ]:
b.sort_values(by='x').plot(x='x', y='y', kind='bar')

In [ ]:
b.sort_values(by='x').plot(x='x', y='y', kind='barh')

In [ ]:
a.plot(x='x',
       y='y',
       kind='scatter')

In [ ]:
a.plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5))

In [ ]:
a.plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata')

In [ ]:
a.plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black')

In [ ]:
dinodata[dinodata['dataset']=='dino'].plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black')

In [ ]:
dinodata[dinodata['dataset']=='dino'].plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black')
dinodata[dinodata['dataset']=='circle'].plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black')

In [ ]:
ax = dinodata[dinodata['dataset']=='dino'].plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black')
dinodata[dinodata['dataset']=='circle'].plot(x='x',
       y='y',
       kind='scatter',
       figsize=(5,5),
       xlabel='hdata',
       ylabel='vdata',
       color='black',
       ax=ax)

# End